name: Deploy API Documentation

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: postgres:18
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USERNAME: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      PG_DATABASE: postgres
      PG_HOST: localhost
      PG_USER: postgres
      PG_PASSWORD: password
      PG_PORT: 5432
      RAILS_ENV: development
      DISABLE_SPRING: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.5
          bundler-cache: true

      - name: Configure bundler
        run: |
          bundle config set without 'staging production'
          bundle config set deployment 'true'

      - name: Prepare configs
        run: |
          cp config/application.yml.sample config/application.yml || true
          cp config/database_ci.yml config/database.yml

      - name: Prepare database
        run: |
          bundle exec rake db:create
          bundle exec rake db:schema:load

      - name: Generate Apipie documentation
        run: |
          bundle exec rake apipie:static
          mkdir -p _site
          cp -r public/apipie/* _site/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
